<ion-view view-title="Health5">
  <ion-content class="padding">
      <div class="list card">
          <a href="#/gym" class="item item-icon-left">
              <i class="icon ion-home"></i>
              健身房
          </a>
          <a href="#/adjust" class="item item-icon-left">
              <i class="icon ion-home"></i>
              校准
          </a>
          <a href="#/workout" class="item item-icon-left">
              <i class="icon ion-home"></i>
              训练计划
          </a>



      </div>

  </ion-content>
</ion-view>
