<ion-view view-title="Health5">
  <ion-content class="padding">
      <div class="list card">
          <a href="#/gym" class="item item-icon-left">
              <i class="icon ion-home"></i>
              健身房
          </a>
          <a href="#/travel" class="item item-icon-left">
              <i class="icon ion-home"></i>
              训练计划
          </a>
      </div>


    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
