<ion-view view-title="训练" >

    <ion-content class="padding">

        <div class="list">

            <div class="item item-icon-left" ng-repeat="item in group">
                <i class="icon ion-mic-a"></i>
                第{{$index + 1}}组 {{item.name}}
                <span class="item-note">
                  <span ng-show="item.count>0">{{item.count}}/</span>{{item.goal}}
                </span>
            </div>

        </div>

    </ion-content>
    <div class="bar bar-footer bar-balanced">
        <div class="title" ng-click="openModal()" >开始训练</div>
    </div>

</ion-view>

